<!-- <div id="gitalk-container"></div>
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
<script>
var gitalk = new Gitalk({
  clientID: 'd0cba862c83cd3159662',
  clientSecret: '65cd2204af9c03324e0a03ea98112a5d1e264f47',
  repo: 'blog.eai.cc',
  owner: 'orwithout',
  admin: ['orwithout'],
  id: location.pathname,      // Ensure uniqueness and length less than 50
  distractionFreeMode: false  // Facebook-like distraction free mode
});
gitalk.render('gitalk-container');
</script>
 -->


<div id="gitment-ctn"></div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<script>
var gitalk = new Gitalk({
  clientID: 'd0cba862c83cd3159662',
  clientSecret: '65cd2204af9c03324e0a03ea98112a5d1e264f47>',

  repo: 'blog.eai.cc',
  owner: 'orwithout',
  admin: ['orwithout'],
  id: 'location.pathname',      // Ensure uniqueness and length less than 50
  distractionFreeMode: false  // Facebook-like distraction free mode
})

gitalk.render('gitment-ctn')
</script>