<div class="text-small text-grey-dk-000 mb-0">
    <a href=https://mp.weixin.qq.com/mp/qrcode?scene=10000004&size=102&__biz=MzI4NDkwNDIwMA==&mid=2247483823&idx=1&sn=284b8c76c1d7bb6b7272f12857c1abf9&send_time=>微信公众号</a><br />
    <a href=http://www.ago.ooo">Domains for sale</a><br />
    <a href=https://creativecommons.org/licenses/by-sa/4.0/deed.zh class="text-small text-grey-dk-000 mb-0">CC BY-SA 4.0</a><br />
    <a href=https://github.com/just-the-docs/just-the-docs class="text-small text-grey-dk-000 mb-0">powered by Just-the-Docs</a><br />
</div>